{% extends 'base.html' %}
{% load static %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}

<p style="margin-left: 40px; margin-right: 40px; text-align: left;">
<br>
  This project is hosted on an AWS EC2 micro instance. It is deployed via Docker featuring a webserver, 
  Nginx proxy server and a Postgres database. The project is entirely custom; the backend is built in Python using Django as the web framework, 
  and the front end is built in Javascript, HTML and CSS. The complete stack is: 
  <br><br><br>
  <div id="aboutStackContainer" class="categories" style="display: flex; flex-wrap: wrap; max-width: 65%; margin-left: 40px; margin-right: 40px;">
    <div class="category" style="flex: 1;">
      <h4 style="font-style: italic; font-weight: 800;">AWS Services</h4>
      <ul>
        <li>EC2</li>
        <li>S3</li>
        <li>IAM</li>
        <li>Secrets Manager</li>
        <li>Security Groups</li>
        <li>Application Load Balancer</li>
        <li>Route53</li>
        <li>Target Groups</li>
        <li>HTTP / HTTPS Listeners</li>
        <li>Cloudformation</li>
        <li>Certificate Manager</li>
      </ul>
    </div>
    <div class="category" style="flex: 1;">
      <h4 style="font-style: italic; font-weight: 800;">Backend</h4>
      <ul>
        <li>Python</li>
        <li>Polars</li>
        <li>Django</li>
        <li>Docker</li>
        <li>Nginx</li>
        <li>Postgres</li>
        <li>Bash</li>
      </ul>
    </div>
    <div class="category" style="flex: 1;">
      <h4 style="font-style: italic; font-weight: 800;">Frontend</h4>
      <ul>
        <li>JavaScript</li>
        <li>Html</li>
        <li>CSS</li>
      </ul>
    </div>
    <div class="category" style="flex: 1;">
      <h4 style="font-style: italic; font-weight: 800;">Concepts</h4>
      <ul>
        <li>ETL</li>
        <li>APIs</li>
        <li>Cloud computing and networking</li>
        <li>Custom Python package</li>
        <li>Minimax algorithm</li>
        <li>Containerization</li>
      </ul>
    </div>
  <div>
</p>

{% endblock %}