{% extends 'base.html' %}
{% load static %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}

<body>
    <div class="row fixed">
        <div class="col-12">
            <p>
                This case study illustrates some of the economic disparities younger generations of Americans contend with.
                The data has been extracted from the Bureau of Labor Statistics API using Python, transformed with Polars 
                and loaded into a Postgres database. 
            </p>
        </div>
    </div>

    <div class="row fixed">
        <div class="col-12">
            <p>
                Real income has increased modestly over time, but has this increase been evenly distributed across age groups?
                <br><br>
                You would expect older generations to earn more -- they're more experienced workers, social security kicks in as early as 62, 
                investment strategies lean more towards income vs growth, etc. You might also expect the percent change in income 
                to be more or less the same across age groups. 
                <br><br>
                The charts below represent 
                the overall percent change in median US income by age group from 1979 to 2024, and median US income by age group by year.
                To remove the effect of inflation, figures shown are in real terms (constant 2024 USD):
            </p>
        </div>
    </div>

    <div class="row fixed">
        <div id="chartContainer" class="col-12">
            <table>
                <thead>
                <tr>
                    <th id="medianIncomePercentChangeChart">Demographic Age</th>
                    <th id="medianIncomePercentChangeChart">Percent Change <br>in Median Income<br>from 1979 to 2024</th>
                </tr>
                </thead>
                <tbody>
                {% for row in data %}
                    <tr>
                    <td id="medianIncomePercentChangeChart">{{ row.demographic_age }}</td>
                    <td id="medianIncomePercentChangeChart">{{ row.percent_change_in_income }}%</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="row fixed">
        <div id="graphContainer" class="col-12"> 
            <canvas id="blsMedianIncomeChart" width="1100" height="800"></canvas>            
        </div>
    </div>

    <div class="row fixed">
        <div class="col-12">
            <p>
                Younger incomes (ages 16 to 44) have grown at a rate that is approximately a third of older age groups (45+), causing actual incomes 
                for older generations to exceed their younger peers (65 and over surpassed the 25 to 34 group in 2009).
            </p>
        </div>
    </div>

    <script src="{% static 'js/bls.js' %}"></script>

</body>

{% endblock %}