{% extends 'base.html' %}
{% load static %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<body>
    <script src="{% static 'js/tictactoe.js' %}"></script>
    <script>
        var startUrl = "{% url 'tictactoe_board' %}";
        var moveUrl = "{% url 'tictactoe_board' %}";
        var csrfToken = "{{ csrf_token }}";
        var statsUrl = "{% url 'tictactoe' %}";
    </script>

    <div class="row fixed">
        <div class="col-12">
            <p>
                Welcome to tic-tac-toe!
                This game features three difficulty levels: Easy, Intermediate and Unbeatable.
                The latter two levels use a minimax algorithm and alpha beta pruning to determine 
                the computer's move. The user will always play first. 
                The metrics represent all games played, and can be filtered to a specific difficulty level.
            </p>
        </div>
    </div>

    <div class="row justify-content-center align-items-start tictactoe">
        <div class="col-lg-6 col-md-8 col-12">
            <button id="start-game" class="btn" role="button" data-bs-toggle="dropdown" aria-expanded="false">Start game</button>
            <div class="board-container">
                <p id="difficulty-title">Select difficulty level:</p>
                <div id="difficulty-options">
                    <button id="easy" class="btn-small">Easy</button>
                    <button id="intermediate" class="btn-small">Intermediate</button>
                    <button id="unbeatable" class="btn-small">Unbeatable</button>
                </div>
                <table id="board" class="center" border="1"></table>
                <div id="message"></div>
            </div>
        </div>

        <div class="col-lg-6 col-md-8 col-12">
            <a class="btn dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Metrics</a>
                <ul id="metrics-dropdown" class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item dropdown-difficulty" href="#" difficulty-level="All">All</a></li>
                    <li><a class="dropdown-item dropdown-difficulty" href="#" difficulty-level="Easy">Easy</a></li>
                    <li><a class="dropdown-item dropdown-difficulty" href="#" difficulty-level="Intermediate">Intermediate</a></li>
                    <li><a class="dropdown-item dropdown-difficulty" href="#" difficulty-level="Unbeatable">Unbeatable</a></li>
                </ul>
            <div id="metrics"></div>
        </div>
    </div>
</body>

{% endblock %}