dist/
*.py[cod]
*.log
*.log.*
*logs/
.DS_Store
*.egg-info
*.egg
*build/
**/__pycache__/
*.pem
*.env.txt
.docker.env
.cache
jupyternotebooks/
.ipynb_checkpoints/
*.sqlite3
*.env
.portfolio
.nginx
scripts/data/