@import url('https://fonts.googleapis.com/css?family=Fira Code');



/* ----- All pages ----- */

.bg {
    background-color: black;
}

h1 {
    color: green;
}

h3 {
    color: green;
    text-decoration: underline;
}

h4 {
    font-style: italic; 
    font-weight: 800;
    color: green;
}

li {
    color: green;
}

p {
    color: green;
}

body {
    font-family: 'Fira Code';
    font-size: 22px;
    align-items: center;
}

.row.fixed {
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 30px;
    text-align: left;
}

.btn {
    background-color: black;
    color: green;
    font-size: 28px;
    cursor: pointer;
    text-decoration: underline;
}

.btn-small {
    background-color: black;
    color: green;
    font-size: 22px;
    cursor: pointer;
    text-decoration: underline;
    border-style: none;
}

.btn-small:hover {
    background-color: transparent !important;
    color: inherit !important;
}



/* ----- Nav bar ----- */

.navbar.navbar-expand-lg {
    background-color: black;
    border-bottom: 2px solid green;
    font-size: 28px;
}

.navbar-brand {
    color: green;
}

.nav-link {
    color: green !important;
}

.nav-custom:hover {
    color: black !important;
}

.navbar-toggler { /* for mobile hamburger menu */
    border-color: green;
}

.navbar-toggler-icon { /* for mobile hamburger menu */
    background-image: url("data:image/svg+xml;charset=UTF8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='green' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.dropdown-item {
    background-color: black;
    color: green !important;
    font-size: 20px;
}

.dropdown:hover {
    background-color: transparent !important;
    color: inherit !important;
}



/* ----- About page ----- */

.categories {
    display: flex; 
    flex-wrap: wrap; 
    max-width: 65%;
}

.category {
    flex: 1;
}



/* ----- Tic tac toe page ----- */

.row.tictactoe {
    text-align: center;
    display: flex;
}

#difficulty-title {
    display: none;
    font-size: 22px;
    margin-top: 10px;
}

#difficulty-options {
    display: none;
}

.board-container {
    text-align: center;
    min-height: 300px;
}

table.center {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

#board {
    width: 325px;
    height: 325px;
    border-collapse: collapse;
}

#board td {
    width: 100px;
    height: 100px;
    text-align: center;
    vertical-align: middle;
    font-size: 28px;
    color: green;
    border: 1px solid green;
}

#metrics-dropdown {
    padding: 0;
}

#message {
    margin-top: 20px;
    font-size: 28px;
    text-align: center;
    color: green;
    min-height: 75px;
}



/* ----- BLS ----- */

#chartContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    color: green;
    margin-bottom: 20px;
}

#medianIncomePercentChangeChart {
    text-align: center; 
    padding: 0 30px;
}

#graphContainer {
    position: relative;
}



/* ----- Contact page ----- */

.form-control {
    background-color: black !important;
    color: green !important;
    border-color: green;
}

.form-control:focus {
    border-color: green;
    box-shadow: none;
}

.alert {
    background-color: black;
    color: green;
    border-color: none;
    box-shadow: none;
}

/* used for Chrome autofill */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-text-fill-color: green; 
  -webkit-box-shadow: 0 0 0px 1000px black inset;
  transition: background-color 5000s ease-in-out 0s;
}
    
#message-container {
    transition: opacity 1s ease-in-out;
    display: inline-block;
    vertical-align: middle;
    margin-left: -4px;
}

#captcha-error-container {
    background-color: black;
    color: green;
    border-color: none;
    box-shadow: none;
    height: 40px;
}
